In [10]:
!pip install --upgrade openai

Requirement already satisfied: openai in c:\users\jsy11\anaconda3\envs\study\lib\site-packages (0.28.1)
Collecting openai
  Using cached openai-1.9.0-py3-none-any.whl.metadata (18 kB)
Collecting anyio<5,>=3.5.0 (from openai)
  Using cached anyio-4.2.0-py3-none-any.whl.metadata (4.6 kB)
Collecting distro<2,>=1.7.0 (from openai)
  Using cached distro-1.9.0-py3-none-any.whl.metadata (6.8 kB)
Collecting httpx<1,>=0.23.0 (from openai)
  Using cached httpx-0.26.0-py3-none-any.whl.metadata (7.6 kB)
Collecting pydantic<3,>=1.9.0 (from openai)
  Using cached pydantic-2.5.3-py3-none-any.whl.metadata (65 kB)
Collecting sniffio (from openai)
  Using cached sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: tqdm>4 in c:\users\jsy11\anaconda3\envs\study\lib\site-packages (from openai) (4.64.1)
Collecting typing-extensions<5,>=4.7 (from openai)
  Using cached typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: idna>=2.8 in c:\users\jsy11\anaconda3\envs\study\lib\site-packages (from anyio<5,>=3.5.0->openai) (3.4)
Requirement already satisfied: certifi in c:\users\jsy11\anaconda3\envs\study\lib\site-packages (from httpx<1,>=0.23.0->openai) (2023.7.22)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Downloading httpcore-1.0.2-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
     ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
     ------- -------------------------------- 10.2/58.3 kB ? eta -:--:--
     -------------------- ----------------- 30.7/58.3 kB 435.7 kB/s eta 0:00:01
     --------------------------------- ---- 51.2/58.3 kB 435.7 kB/s eta 0:00:01
     -------------------------------------- 58.3/58.3 kB 340.6 kB/s eta 0:00:00
Collecting annotated-types>=0.4.0 (from pydantic<3,>=1.9.0->openai)
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.14.6 (from pydantic<3,>=1.9.0->openai)
  Downloading pydantic_core-2.14.6-cp311-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: colorama in c:\users\jsy11\anaconda3\envs\study\lib\site-packages (from tqdm>4->openai) (0.4.6)
Downloading openai-1.9.0-py3-none-any.whl (223 kB)
   ---------------------------------------- 0.0/223.4 kB ? eta -:--:--
   ----------- ---------------------------- 61.4/223.4 kB 1.7 MB/s eta 0:00:01
   ---------------------------------- ----- 194.6/223.4 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 223.4/223.4 kB 1.7 MB/s eta 0:00:00
Downloading anyio-4.2.0-py3-none-any.whl (85 kB)
   ---------------------------------------- 0.0/85.5 kB ? eta -:--:--
   ---------------------------------------- 85.5/85.5 kB 4.7 MB/s eta 0:00:00
Downloading distro-1.9.0-py3-none-any.whl (20 kB)
Downloading httpx-0.26.0-py3-none-any.whl (75 kB)
   ---------------------------------------- 0.0/75.9 kB ? eta -:--:--
   ---------------------------------------- 75.9/75.9 kB 2.1 MB/s eta 0:00:00
Downloading httpcore-1.0.2-py3-none-any.whl (76 kB)
   ---------------------------------------- 0.0/76.9 kB ? eta -:--:--
   ------------------------------------- -- 71.7/76.9 kB ? eta -:--:--
   ---------------------------------------- 76.9/76.9 kB 855.2 kB/s eta 0:00:00
Downloading pydantic-2.5.3-py3-none-any.whl (381 kB)
   ---------------------------------------- 0.0/381.9 kB ? eta -:--:--
   ---------------------------- ----------- 276.5/381.9 kB 8.3 MB/s eta 0:00:01
   ---------------------------------------- 381.9/381.9 kB 5.9 MB/s eta 0:00:00
Downloading pydantic_core-2.14.6-cp311-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   -------- ------------------------------- 0.4/1.9 MB 12.6 MB/s eta 0:00:01
   ---------------------- ----------------- 1.1/1.9 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 12.1 MB/s eta 0:00:00
Using cached typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Installing collected packages: typing-extensions, sniffio, h11, distro, annotated-types, pydantic-core, httpcore, anyio, pydantic, httpx, openai
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.4.0
    Uninstalling typing_extensions-4.4.0:
      Successfully uninstalled typing_extensions-4.4.0
  Attempting uninstall: openai
    Found existing installation: openai 0.28.1
    Uninstalling openai-0.28.1:
      Successfully uninstalled openai-0.28.1
Successfully installed annotated-types-0.6.0 anyio-4.2.0 distro-1.9.0 h11-0.14.0 httpcore-1.0.2 httpx-0.26.0 openai-1.9.0 pydantic-2.5.3 pydantic-core-2.14.6 sniffio-1.3.0 typing-extensions-4.9.0

In [1]:
import pandas as pd
import os
import re
import glob
import tiktoken
from openai import OpenAI
import openai
from scipy.spatial.distance import cosine
import os
from dotenv import load_dotenv
load_dotenv()

C:\Users\jsy11\AppData\Local\Temp\ipykernel_16844\3064988868.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

True

In [2]:
# API Key 입력. 만일 환경변수에 없으면, 프롬프트로 입력받음.
client = OpenAI()
openai_api_key = os.getenv("OPENAI_API_KEY")
if openai_api_key is True:
    openai_api_key = input("OpenAI API Key 입력: ")
    os.environ["OPENAI_API_KEY"] = openai_api_key
openai.api_key = os.environ["OPENAI_API_KEY"]

In [3]:
openai.api_key

'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'

In [108]:
# markdown 파일을 읽어오는 함수
def get_md_files(directory):
    md_files = glob.glob(os.path.join(directory, "**/*.md"), recursive=True)
    return md_files

# 읽어온 markdown 파일을 전처리하는 함수
def process_file_content(file_path):
    # Read and process the file content
    with open(file_path, 'r', encoding='utf-8') as file:
        content = file.read()
        # Replace new lines, URLs, and tags
        content = content.replace('\n', ' ').replace('\r', ' ')
        content = re.sub(r'http\S+', '', content)  # Remove URLs
        content = re.sub(r'\{\/\*.*?\*\/\}', '', content)  # Remove {/*text*/}
        content = content.replace('---', '')
        return content

In [115]:
directory = '../../raw'
md_files = get_md_files(directory)
data = []
for file_path in md_files:
    title = os.path.basename(file_path).replace('.md', '')
    content = process_file_content(file_path)
    data.append({'title': title, 'content': content})
df = pd.DataFrame(data, columns=['title', 'content'])

##  여기서부터 시작!!!!!!!!!!!
### 여기서부터 df=pd.read_csv("파일이름.csv") 로 내가 만든 데이터를 불러오기. 파일 열의 형식은 `title`, `content`이어야 한다.

In [8]:
# df =pd.read_csv('output2.csv')
df =pd.read_csv('tokens_output2.csv')

In [9]:
df

      Page                                             Tokens
0        1                                                 []
1        2  ['About', 'This', 'eBook', 'ePUB', 'is', 'an',...
2        3  ['Security', 'in', 'Computing', 'FIFTH', 'EDIT...
3        4  ['Many', 'of', 'the', 'designations', 'used', ...
4        5  ['Executive', 'Editor', 'Bernard', 'Goodwin', ...
...    ...                                                ...
1005  1006  ['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...
1006  1007  ['PrivacyPreserving', 'Data', 'Mining', 'Priva...
1007  1008  ['Human', 'Vandals', 'Interception', 'of', 'Se...
1008  1009  ['Situation', 'IX', 'True', 'Representation', ...
1009  1010  ['What', 'Are', 'the', 'Critical', 'Issues', '...

[1010 rows x 2 columns]

In [10]:
df=df[['Page','Tokens']].dropna()

In [11]:
df

      Page                                             Tokens
0        1                                                 []
1        2  ['About', 'This', 'eBook', 'ePUB', 'is', 'an',...
2        3  ['Security', 'in', 'Computing', 'FIFTH', 'EDIT...
3        4  ['Many', 'of', 'the', 'designations', 'used', ...
4        5  ['Executive', 'Editor', 'Bernard', 'Goodwin', ...
...    ...                                                ...
1005  1006  ['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...
1006  1007  ['PrivacyPreserving', 'Data', 'Mining', 'Priva...
1007  1008  ['Human', 'Vandals', 'Interception', 'of', 'Se...
1008  1009  ['Situation', 'IX', 'True', 'Representation', ...
1009  1010  ['What', 'Are', 'the', 'Critical', 'Issues', '...

[1010 rows x 2 columns]

In [16]:
df=df.drop(0)

In [17]:
df

      Page                                             Tokens
1        2  ['About', 'This', 'eBook', 'ePUB', 'is', 'an',...
2        3  ['Security', 'in', 'Computing', 'FIFTH', 'EDIT...
3        4  ['Many', 'of', 'the', 'designations', 'used', ...
4        5  ['Executive', 'Editor', 'Bernard', 'Goodwin', ...
5        6  ['To', 'Willis', 'Ware', 'a', 'hero', 'of', 'c...
...    ...                                                ...
1005  1006  ['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...
1006  1007  ['PrivacyPreserving', 'Data', 'Mining', 'Priva...
1007  1008  ['Human', 'Vandals', 'Interception', 'of', 'Se...
1008  1009  ['Situation', 'IX', 'True', 'Representation', ...
1009  1010  ['What', 'Are', 'the', 'Critical', 'Issues', '...

[1009 rows x 2 columns]

In [18]:
tokenizer = tiktoken.get_encoding("cl100k_base")
df['n_tokens'] = df['Tokens'].apply(lambda x: len(tokenizer.encode(x)))
# df.n_tokens.hist()

In [19]:
max_tokens = 2000
def split_into_many(text, max_tokens = max_tokens):

    # 일단 문장으로 쪼개기
    sentences = text.split('. ')

    # 문장마다 몇 토큰 들어가는지 세어 주기.
    n_tokens = [len(tokenizer.encode(" " + sentence)) for sentence in sentences]
    
    chunks = []
    tokens_so_far = 0
    chunk = []


    for sentence, token in zip(sentences, n_tokens):

        # 문장의 토큰 수와 현재까지의 토큰 수의 합이 최대 토큰 수를 초과하면, 해당 청크를 청크 목록에 추가하고 청크 및 현재까지의 토큰 수를 초기화한다.
        if tokens_so_far + token > max_tokens:
            chunks.append(". ".join(chunk) + ".")
            chunk = []
            tokens_so_far = 0

        if token > max_tokens:
            continue

        chunk.append(sentence)
        tokens_so_far += token + 1

    if chunk:
        chunks.append(". ".join(chunk) + ".")

    return chunks

In [20]:
shortened = []
# 데이터 프레임 순회하기
for row in df.iterrows():

    # If the content is None, go to the next row
    if row[1]['Tokens'] is None:
        continue

    # If the number of tokens is greater than the max number of tokens, split the content into chunks
    if row[1]['n_tokens'] > max_tokens:
        shortened += split_into_many(row[1]['Tokens'])
    
    # Otherwise, add the content to the list of shortened texts
    else:
        shortened.append( row[1]['Tokens'] )

In [21]:
def split_large_text(large_text, max_tokens=2000):
    enc = tiktoken.get_encoding("cl100k_base")
    tokenized_text = enc.encode(large_text)

    chunks = []
    current_chunk = []
    current_length = 0

    for token in tokenized_text:
        current_chunk.append(token)
        current_length += 1

        if current_length >= max_tokens:
            chunks.append(enc.decode(current_chunk).rstrip(' .,;'))
            current_chunk = []
            current_length = 0

    if current_chunk:
        chunks.append(enc.decode(current_chunk).rstrip(' .,;'))

    return chunks

# df['splitted_content'] = df['Text'].apply(split_large_text)
# df = df.explode("splitted_content")
# df['spllitted_n_tokens'] = df['splitted_content'].apply(lambda x: len(tokenizer.encode(x)))
# df = df.reset_index( drop=True)

In [10]:
df = df[['Page','splitted_content', 'spllitted_n_tokens']].rename(columns={'splitted_content':'content', 'spllitted_n_tokens':'n_tokens'})

In [22]:
df

      Page                                             Tokens  n_tokens
1        2  ['About', 'This', 'eBook', 'ePUB', 'is', 'an',...       618
2        3  ['Security', 'in', 'Computing', 'FIFTH', 'EDIT...       130
3        4  ['Many', 'of', 'the', 'designations', 'used', ...      1105
4        5  ['Executive', 'Editor', 'Bernard', 'Goodwin', ...       108
5        6  ['To', 'Willis', 'Ware', 'a', 'hero', 'of', 'c...        31
...    ...                                                ...       ...
1005  1006  ['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...       421
1006  1007  ['PrivacyPreserving', 'Data', 'Mining', 'Priva...       497
1007  1008  ['Human', 'Vandals', 'Interception', 'of', 'Se...       585
1008  1009  ['Situation', 'IX', 'True', 'Representation', ...       417
1009  1010  ['What', 'Are', 'the', 'Critical', 'Issues', '...        78

[1009 rows x 3 columns]

In [14]:
def combine_info(row):
    title = " ".join(row['title'].split("-"))

    
    combined = [f"title: {title}", f"content: \n{content}"]
    combined = "\n\n###\n\n".join(combined)
    
    return combined

df["combined"] = df.apply(combine_info, axis=1)

NameError: name 'content' is not defined

In [23]:
df

      Page                                             Tokens  n_tokens
1        2  ['About', 'This', 'eBook', 'ePUB', 'is', 'an',...       618
2        3  ['Security', 'in', 'Computing', 'FIFTH', 'EDIT...       130
3        4  ['Many', 'of', 'the', 'designations', 'used', ...      1105
4        5  ['Executive', 'Editor', 'Bernard', 'Goodwin', ...       108
5        6  ['To', 'Willis', 'Ware', 'a', 'hero', 'of', 'c...        31
...    ...                                                ...       ...
1005  1006  ['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...       421
1006  1007  ['PrivacyPreserving', 'Data', 'Mining', 'Priva...       497
1007  1008  ['Human', 'Vandals', 'Interception', 'of', 'Se...       585
1008  1009  ['Situation', 'IX', 'True', 'Representation', ...       417
1009  1010  ['What', 'Are', 'the', 'Critical', 'Issues', '...        78

[1009 rows x 3 columns]

In [24]:
def get_embedding(text, model="text-embedding-ada-002"):
   text = text.replace("\n", " ")
   return client.embeddings.create(input = [text], model=model).data[0].embedding

In [43]:
df

      Page                                             Tokens  n_tokens
1        2  ['About', 'This', 'eBook', 'ePUB', 'is', 'an',...       618
2        3  ['Security', 'in', 'Computing', 'FIFTH', 'EDIT...       130
3        4  ['Many', 'of', 'the', 'designations', 'used', ...      1105
4        5  ['Executive', 'Editor', 'Bernard', 'Goodwin', ...       108
5        6  ['To', 'Willis', 'Ware', 'a', 'hero', 'of', 'c...        31
...    ...                                                ...       ...
1005  1006  ['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...       421
1006  1007  ['PrivacyPreserving', 'Data', 'Mining', 'Priva...       497
1007  1008  ['Human', 'Vandals', 'Interception', 'of', 'Se...       585
1008  1009  ['Situation', 'IX', 'True', 'Representation', ...       417
1009  1010  ['What', 'Are', 'the', 'Critical', 'Issues', '...        78

[1009 rows x 3 columns]

In [25]:
df["embedding"] = df.Tokens.apply(get_embedding)
# df.to_pickle("../../processed/test.pkl")

In [26]:
df

,Page,Tokens,n_tokens,embedding
1,2,"['About', 'This', 'eBook', 'ePUB', 'is', 'an',...",618,"[0.0027860531117767096, 0.008122052997350693, ..."
2,3,"['Security', 'in', 'Computing', 'FIFTH', 'EDIT...",130,"[0.014323357492685318, -0.003350171959027648, ..."
3,4,"['Many', 'of', 'the', 'designations', 'used', ...",1105,"[-0.00623887125402689, -0.011925099417567253, ..."
4,5,"['Executive', 'Editor', 'Bernard', 'Goodwin', ...",108,"[-0.012079219333827496, 0.002936786040663719, ..."
5,6,"['To', 'Willis', 'Ware', 'a', 'hero', 'of', 'c...",31,"[-0.00888099242001772, -0.012829650193452835, ..."
...,...,...,...,...
1005,1006,"['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...",421,"[-0.013197178021073341, -0.0050868378020823, 0..."
1006,1007,"['PrivacyPreserving', 'Data', 'Mining', 'Priva...",497,"[-0.01291818916797638, -0.014100742526352406, ..."
1007,1008,"['Human', 'Vandals', 'Interception', 'of', 'Se...",585,"[-0.013505895622074604, -0.02323957160115242, ..."
1008,1009,"['Situation', 'IX', 'True', 'Representation', ...",417,"[0.018290884792804718, -0.005117486231029034, ..."
1009,1010,"['What', 'Are', 'the', 'Critical', 'Issues', '...",78,"[-0.015322505496442318, -0.008673368953168392,..."

In [27]:
df.to_pickle("../../processed/test4.pkl")

In [28]:
df = pd.read_pickle("../../processed/test4.pkl")

In [29]:
df

,Page,Tokens,n_tokens,embedding
1,2,"['About', 'This', 'eBook', 'ePUB', 'is', 'an',...",618,"[0.0027860531117767096, 0.008122052997350693, ..."
2,3,"['Security', 'in', 'Computing', 'FIFTH', 'EDIT...",130,"[0.014323357492685318, -0.003350171959027648, ..."
3,4,"['Many', 'of', 'the', 'designations', 'used', ...",1105,"[-0.00623887125402689, -0.011925099417567253, ..."
4,5,"['Executive', 'Editor', 'Bernard', 'Goodwin', ...",108,"[-0.012079219333827496, 0.002936786040663719, ..."
5,6,"['To', 'Willis', 'Ware', 'a', 'hero', 'of', 'c...",31,"[-0.00888099242001772, -0.012829650193452835, ..."
...,...,...,...,...
1005,1006,"['Big', 'Data', 'Conclusion', 'Exercises', 'Cl...",421,"[-0.013197178021073341, -0.0050868378020823, 0..."
1006,1007,"['PrivacyPreserving', 'Data', 'Mining', 'Priva...",497,"[-0.01291818916797638, -0.014100742526352406, ..."
1007,1008,"['Human', 'Vandals', 'Interception', 'of', 'Se...",585,"[-0.013505895622074604, -0.02323957160115242, ..."
1008,1009,"['Situation', 'IX', 'True', 'Representation', ...",417,"[0.018290884792804718, -0.005117486231029034, ..."
1009,1010,"['What', 'Are', 'the', 'Critical', 'Issues', '...",78,"[-0.015322505496442318, -0.008673368953168392,..."

##  여기서부터는 테스트 코드!!!!!!!!!!!!!!!!!!!
### 실제 개발환경에서 배포할 때 확인할 목적!

In [30]:
df = pd.read_pickle("../../processed/test4.pkl")
def create_context(
    question, df, max_len=3000
):
    q_embeddings = client.embeddings.create(input=question, model='text-embedding-ada-002').data[0].embedding
    df["distances"] = df["embedding"].apply(lambda x: cosine(q_embeddings, x))
    returns = []
    cur_len = 0
    for i, row in df.sort_values('distances', ascending=True).iterrows():
        cur_len += row['n_tokens'] + 4
        if cur_len > max_len:
            break
        returns.append(row["Tokens"])
    return "\n\n===\n\n".join(returns)


def answer_question(
    df,
    model="gpt-3.5-turbo",
    question="What is difference between useEffect and useLayoutEffect in React?",
    max_len=3000,
    debug=False,
):
    context = create_context(
        question,
        df,
        max_len=max_len,
    )
    if debug:
        print("Context:\n" + context)
        print("\n\n")

    try:
        response = client.chat.completions.create(
            model=model,
            messages=[
                {"role": "system", "content": "Answer the question based on the context below, and if the question can't be answered based on the context, say \"I don't know\"\n\n"},
                {"role": "user", "content": f"context: {context}\n\n---\n\n Question: {question}, 한국어로 대답해줘."}
            ],
            temperature=0,
        )
        return response.choices[0].message.content
    except Exception as e:
        print("Error occurred:", e)
        return ""

In [31]:
answer_question(df, question="컴퓨터 보안이 뭐야")

'컴퓨터 보안은 컴퓨터 시스템의 취약점을 식별하고 이를 이용하여 발생할 수 있는 피해를 방지하고 막기 위한 조치들을 총칭하는 개념입니다. 이는 악의적인 공격, 데이터 유출, 시스템 마비 등으로부터 컴퓨터 시스템을 보호하는 것을 목표로 합니다.'